

/* @Narra | https://narraressan.github.io/narra/ */
/* Skedluxe project - November 12, 2016 */

/* ui.bootstrap */
.nav, .pagination, .carousel, .panel-title a { cursor: pointer !important; }

pre {
	white-space: pre-wrap;       /* css-3 */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
	hyphens: auto;
	word-break: break-word;
}

.skedluxe-general-container {
	padding-top: 7%;
}

.skedluxe-login-tail, .skedluxe-signup-tail {
	padding-top: 20px;
}

.skedluxe-error-container {
	padding-top: 10%;
}

.skedluxe-error-note {
	font-size: 15px;
	font-weight: 400;
}

.skedluxe-error-name {
	font-size: 100px;
	font-weight: 400;
}

.skedluxe-error-name > .glyphicon {
	font-size: 60%;
}

.skedluxe-error-explained {
	text-decoration: none !important;
}

.skedluxe-navbar-custom {
    background-color: #212121;
}

.skedluxe-profile-mainPanel {
	/*box-shadow: none !important;*/
}

.skedluxe-profile-badge {
	font-weight: 300;
	font-size: 100px;
}

.skedluxe-profile-tags {
	font-weight: 400;
}

.skedluxe-profile-picture {
	max-height: 180px;
}

.skedluxe-profile-btnProfile {
	text-align: left !important;
	font-weight: normal !important;
	text-transform: capitalize !important; 
	margin: 0px;
	border-radius: 0px;
}

.skedluxe-profile-btnProfile > .material-icons {
	margin-right: 15px;
}

.skedluxe-profile-hrDivider {
	margin:  10px 0px 10px 0px;
}

.skedluxe-profile-numberBudgers > h1 {
	font-size: 70px !important;
	font-weight: 400 !important;
	margin-bottom: 0px;
}

.skedluxe-plans-container {
	padding: 0px;
}

.skedluxe-plans-noBorder {
	border-radius: 0px;
	/*border: 1px solid #cfcfd1;*/
	box-shadow: none !important;
}

.skedluxe-plans-noBorder-heading {
	border-radius: 0px;
	/*border: 1px solid #cfcfd1;*/
	border: none !important;
	background-color: #e2e2e2 !important;
	/*box-shadow: none !important;*/
}

.skedluxe-plan-title {
	font-weight: 500 !important;
	text-align: center;
	padding: 10px;
}

.skedluxe-plan {
	padding: 5px 10px 2px 10px;
	text-align: center;
}

.skedluxe-plan-price {
	font-size: 50px;
	padding: 0px;
	margin: 0px;
	font-weight: 500;
}

.skedluxe-plan-price2 {
	font-size: 30px;
	padding: 0px;
	margin: 0px;
	font-weight: 400;
}

.skedluxe-plan-duration {
	/*font-size: 11pt;*/
	font-weight: 400;
	padding: 0px;
}

.skedluxe-plan-divider-feat {
	/*padding: 0px;*/
	margin: 10px;
}

.skedluxe-plan-divider-inv {
	/*padding: 0px;*/
	margin: 40px 10px 10px 10px !important;
	color: transparent !important;
	border-color: transparent !important;
}

.skedluxe-plans-body {
	padding-top: 0px;
	border-right: 1px solid #e8e8e8;
}

.checkbox > label {
	cursor: default !important;
}

.checkbox > label > small > span {
	cursor: pointer !important;
	text-decoration: underline;
	color: #616161;
}

.skedluxe-plan-price3 {
	font-size: 49pt;
	padding: 0px;
	margin: 0px;
	font-weight: 400;
}

.skedluxe-hidden-panels {
	cursor: pointer !important;
}

.skedluxe-form-employee-header {
	border-bottom: 1px solid #e2e2e2 !important;
}

.skedluxe-form-employee-header > h4 {
	font-weight: 400;
}