<div class="panel panel-default skedluxe-profile-mainPanel">
	<div class="panel-body">
		<ul class="breadcrumb skedluxe-hidden-panels" data-toggle="collapse" data-target="#general-info" aria-expanded="false"><li class="active"><b>General Info</b></li></ul>
		<div class="collapse" id="general-info">
			<div class="col-sm-6">
				<div class="form-group label-floating">
					<label class="control-label"><small>Unique URL</small></label>
					<input class="form-control" type="text" ng-model-options="{ debounce: 200 }" ng-model="config_dashboard_var_raw['unique-url']">
				</div>
			</div>

			<div class="col-sm-3">
				<div class="form-group label-floating">
					<label class="control-label"><small>Account No (Credit/Debit)</small></label>
					<input class="form-control" type="text" ng-model-options="{ debounce: 200 }" ng-model="config_dashboard_var_raw['Credit/Debit-Card-No']">
				</div>
			</div>

			<div class="col-sm-3">
				<div class="form-group label-floating">
					<label class="control-label"><small>Expiration Date</small></label>
					<input class="form-control" type="text" ng-model-options="{ debounce: 200 }" ng-model="config_dashboard_var_raw['Expiration Date']">
				</div>
			</div>

			<br>&nbsp;</br>
		</div>
	</div>
</div>