<div class="panel panel-default skedluxe-profile-mainPanel">
	<div class="panel-body">
		<ul class="breadcrumb skedluxe-hidden-panels" data-toggle="collapse" data-target="#business-info" aria-expanded="false"><li class="active"><b>Business Information</b></li></ul>

		<div class="collapse" id="business-info">
			<div class="col-sm-6">
				<div class="form-group label-floating">
					<label class="control-label"><small>Unique URL</small></label>
					<input class="form-control" type="text" ng-model="config_dashboard_var_raw['unique-url']">
				</div>
			</div>

			<div class="col-sm-3">
				<div class="form-group label-floating">
					<label class="control-label"><small>Business Name</small></label>
					<input class="form-control" type="text" ng-model="config_dashboard_var_raw['business-name']">
				</div>
			</div>

			<div class="col-sm-3">
				<div class="form-group label-floating">
					<label class="control-label"><small>Business Permit Number</small></label>
					<input class="form-control" type="text" ng-model="config_dashboard_var_raw['business-permit-number']">
				</div>
			</div>

			<div class="col-sm-6">
				<div class="form-group label-floating">
					<input type="file" id="inputFile4" multiple="">
					<div class="input-group">
						<input type="text" readonly="" class="form-control" placeholder="Placeholder w/file chooser..." ng-model="config_dashboard_var_raw['docs']['doc-name']">
						<span class="input-group-btn input-group-sm">
							<i class="material-icons">attach_file</i>
						</span>
					</div>
				</div>
			</div>

			<div class="col-sm-6">
				<div class="form-group label-floating">
					<label class="control-label"><small>Document #</small></label>
					<input class="form-control" type="text" ng-model="config_dashboard_var_raw['docs']['doc-number']">
				</div>
			</div>

			<div class="col-sm-6">
				<div class="form-group label-floating">
					<label class="control-label"><small>Date Availed (mm/dd/yyyy)</small></label>
					<input class="form-control" type="text" ng-model="config_dashboard_var_raw['docs']['doc-availed']">
				</div>
			</div>

			<div class="col-sm-6">
				<div class="form-group label-floating">
					<label class="control-label"><small>Date Expired (mm/dd/yyyy)</small></label>
					<input class="form-control" type="text" ng-model="config_dashboard_var_raw['date-expire']">
				</div>
			</div>

			<br>&nbsp;</br>
		</div>
	</div>
</div>