<div class="panel panel-default skedluxe-profile-mainPanel">
	<div class="panel-body">
		<ul class="breadcrumb skedluxe-hidden-panels" data-toggle="collapse" data-target="#company-details" aria-expanded="false"><li class="active"><b>Company Details</b></li></ul>

		<div class="collapse" id="company-details">
			<div class="col-sm-6">
				<div class="form-group label-floating">
					<label class="control-label"><small>Telephone No.</small></label>
					<input class="form-control" type="text" ng-model="config_dashboard_var_raw['company-data']['contact-tel']" pattern="[0-9]{5,15}">
				</div>
			</div>

			<div class="col-sm-6">
				<div class="form-group label-floating">
					<label class="control-label"><small>Mobile No.</small></label>
					<input class="form-control" type="text" ng-model="config_dashboard_var_raw['company-data']['contact-mobile']" pattern="[0-9]{5,15}">
				</div>
			</div>

			<div class="col-sm-6">
				<div class="form-group label-floating">
					<label class="control-label"><small>E-mail</small></label>
					<input class="form-control" type="email" ng-model="config_dashboard_var_raw['company-data']['contact-email']">
				</div>
			</div>

			<div class="col-sm-6">
				<div class="form-group label-floating">
					<label class="control-label"><small>Country</small></label>
					<input class="form-control" type="text" ng-model="config_dashboard_var_raw['company-data']['country']">
				</div>
			</div>

			<div class="col-sm-6">
				<div class="form-group label-floating">
					<label class="control-label"><small>State / Province</small></label>
					<input class="form-control" type="text" ng-model="config_dashboard_var_raw['company-data']['state/province']">
				</div>
			</div>

			<div class="col-sm-6">
				<div class="form-group label-floating">
					<label class="control-label"><small>Complete Address</small></label>
					<input class="form-control" type="text" ng-model="config_dashboard_var_raw['company-data']['complete-address']">
				</div>
			</div>

			<br>&nbsp;</br>
		</div>
	</div>
</div>