<div class="panel panel-default skedluxe-profile-mainPanel">
	<div class="panel-body">
		<ul class="breadcrumb skedluxe-hidden-panels" data-toggle="collapse" data-target="#banking-info" aria-expanded="false"><li class="active"><b>Banking Details</b></li></ul>

		<div class="collapse" id="banking-info">
			<div class="col-sm-6">
				<div class="form-group label-floating">
					<label class="control-label"><small>Account No (Credit/Debit/Savings)</small></label>
					<input class="form-control" type="text" ng-model="config_dashboard_var_raw['Credit/Debit-Card-No']">
				</div>
			</div>

			<div class="col-sm-6">
				<div class="form-group label-floating">
					<label class="control-label"></label>
					<label class="control-label"><small>Expiration Date</small></label>
					<input class="form-control" type="text" ng-model="config_dashboard_var_raw['Expiration Date']">
				</div>
			</div>

			<br>&nbsp;</br>
		</div>
	</div>
</div>