<div ng-controller="skedluxeApp_generic_config_ctrl">
	<div ng-show="config_dashboard_var_showform && service_id == 6" class="form-group">
		<select id="companyPick" class="form-control" ng-model="config_dashboard_var_companyIndex" ng-change="config_dashboard_func_changeCompany();">
			<option value="0">Apple fritter</option>
			<option value="1" ng-selected="true">Croissant</option>
		</select>
		<small class="text-muted">Select to switch company <br>&nbsp;</small>
	</div>

	<form ng-show="config_dashboard_var_showform" ng-submit="config_dashboard_func_getUpdated()">
		<div ng-include="'Back-End/pages/includes-src/company-general-info-include.html'" ng-if="service_id == 4"></div>

		<div ng-include="'Back-End/pages/includes-src/company-business-info-include.html'" ng-if="service_id != 4"></div>

		<div ng-include="'Back-End/pages/includes-src/company-banking-details-include.html'" ng-if="service_id != 4"></div>

		<div ng-include="'Back-End/pages/includes-src/company-company-details-include.html'"></div>

		<div class="pull-right">
			<button class="btn btn-raised btn-danger" type="button" ng-click="skedluxeApp_enterprise_func_redirect('Back-End/pages/includes-src/company-include.html')">Cancel</button>
			<button class="btn btn-raised btn-success" type="submit">Update</button>
		</div>
	</form>

	<div class="col-sm-12" ng-show="!config_dashboard_var_showform">
		<p>You currently don't have a configuration setting. Start customizing your configuration settings now.</p>
		<button class="btn btn-raised btn-primary" ng-click="config_dashboard_func_createConfig()">Create</button>
	</div>
</div>