<div class="panel panel-default skedluxe-profile-mainPanel">
	<div class="panel-body">
		<div class="row">

			<div class="col-lg-12 skedluxe-form-employee-header"><h4>Others</h4></div>

			<div class="col-lg-12">
				<div class="form-group label-floating">
					<label class="control-label"><small>Notes</small></label>
					<textarea class="form-control" rows="3" type="text" ng-model-options="{ debounce: 500 }" ng-model="nth['notes']"></textarea>
				</div>
			</div>

			<div class="col-lg-3">
				<div class="form-group label-floating">
					<label class="control-label"><small>Employee Type</small></label>
					<input class="form-control" type="text" disabled="" ng-model-options="{ debounce: 500 }" ng-model="nth['type']">
				</div>
			</div>

			<div class="col-lg-3">
				<div class="form-group checkbox">
					<label>
						<input type="checkbox" ng-model-options="{ debounce: 500 }" ng-model="nth['is-active']">&nbsp;&nbsp;<small>Active</small>
					</label>
				</div>
			</div>

			<div class="col-lg-12">
				<div class="pull-left">
					<button class="btn btn-raised btn-default" type="button" ng-click="config_dashboard_func_loadEmployee_redirect('Back-End/pages/includes-src/employee-form-emergency-details-include.html')">Back</button>
				</div>
				<div class="pull-right">
					<button class="btn btn-raised btn-danger" type="button" ng-click="skedluxeApp_enterprise_func_redirect('Back-End/pages/includes-src/employees-include.html')">Cancel</button>
					<button class="btn btn-raised btn-success" type="submit">Update</button>
				</div>
			</div>

		</div>
	</div>
</div>
