<div class="panel panel-default skedluxe-profile-mainPanel">
	<div class="panel-body">
		<div class="row">

			<div class="col-lg-12 skedluxe-form-employee-header"><h4>Professional Driver's License Details</h4></div>

			<div class="col-lg-2">
				<div class="form-group label-floating">
					<label class="control-label"><small>Issue Date</small></label>
					<input class="form-control" type="text" ng-model-options="{ debounce: 500 }" ng-model="nth['professional-license-issued']" minlength="5">
				</div>
			</div>

			<div class="col-lg-2">
				<div class="form-group label-floating">
					<label class="control-label"><small>Expiry Date</small></label>
					<input class="form-control" type="text" ng-model-options="{ debounce: 500 }" ng-model="nth['professional-license-expiry']" minlength="5">
				</div>
			</div>

			<div class="col-lg-4">
				<div class="form-group label-floating">
					<label class="control-label"><small>License Number</small></label>
					<input class="form-control" type="text" ng-model-options="{ debounce: 500 }" ng-model="nth['professional-license-number']" minlength="5">
				</div>
			</div>

			<div class="col-lg-4">
				<div class="form-group label-floating">
					<label class="control-label"><small>CORI Date</small></label>
					<input class="form-control" type="text" ng-model-options="{ debounce: 500 }" ng-model="nth['cori-date']" minlength="5">
				</div>
			</div>

			<div class="col-lg-4">
				<div class="form-group label-floating">
					<label class="control-label"><small>Area Assignment</small></label>
					<input class="form-control" type="text" ng-model-options="{ debounce: 500 }" ng-model="nth['assigned-area']" minlength="5">
				</div>
			</div>

			<div class="col-lg-8">
				<div class="form-group label-floating">
					<label class="control-label"><small>Vehicle Assignment</small></label>
					<input class="form-control" type="text" ng-model-options="{ debounce: 500 }" ng-model="nth['vehicle-assigned']" minlength="5">
				</div>
			</div>

			<div class="col-lg-12">
				<div class="pull-left">
					<button class="btn btn-raised btn-default" type="button" ng-click="config_dashboard_func_loadEmployee_redirect('Back-End/pages/includes-src/employee-form-personal-details-include.html')">Back</button>
					<button class="btn btn-raised btn-default" type="button" ng-click="config_dashboard_func_loadEmployee_redirect('Back-End/pages/includes-src/employee-form-emergency-details-include.html')">Next</button>
				</div>
				<div class="pull-right">
					<button class="btn btn-raised btn-danger" type="button" ng-click="skedluxeApp_enterprise_func_redirect('Back-End/pages/includes-src/employees-include.html')">Cancel</button>
					<button class="btn btn-raised btn-success" type="submit">Update</button>
				</div>
			</div>

		</div>
	</div>
</div>