<div ng-controller="skedluxeApp_generic_config_ctrl">
	<form ng-show="config_dashboard_var_showform" ng-submit="config_dashboard_func_getUpdated()">
		<div class="panel panel-default skedluxe-profile-mainPanel">
			<div class="panel-body">
				<div class="form-group">
					<input class="form-control" type="text" placeholder="Search Employees" ng-model-options="{ debounce: 200 }" ng-model="findUser">
				</div>
				<div class="col-md-4" ng-repeat="nth in config_dashboard_var_raw['company-data']['employee-accounts']|filter:findUser track by $index">
					<div ng-include="'Back-End/pages/includes-src/employee-search-panel-include.html'"></div>
				</div>
			</div>
		</div>

		<div ng-include="skedluxeApp_enterprise_dashboard_var_employeeForm"></div>
	</form>
</div>