
<div class="panel panel-default skedluxe-profile-mainPanel">
	<div class="panel-body">
		<div class="row">

			<div class="col-lg-12 skedluxe-form-employee-header"><h4>Personal Details</h4></div>

			<div class="col-lg-6">
				<div class="form-group label-floating">
					<label class="control-label"><small>Employee Email</small></label>
					<input class="form-control" type="email" ng-model-options="{ debounce: 500 }" ng-model="nth['email-as-username']">
				</div>
			</div>

			<div class="col-lg-6">
				<div class="form-group label-floating">
					<label class="control-label"><small>Password</small></label>
					<input class="form-control" type="password" ng-model-options="{ debounce: 500 }" ng-model="nth['password']" minlength="8">
				</div>
			</div>

			<div class="col-lg-4">
				<div class="form-group label-floating">
					<label class="control-label"><small>First Name</small></label>
					<input class="form-control" type="text" ng-model-options="{ debounce: 500 }" ng-model="nth['first-name']" pattern="[A-Z a-z]{2,}">
				</div>
			</div>

			<div class="col-lg-4">
				<div class="form-group label-floating">
					<label class="control-label"><small>Middle Name</small></label>
					<input class="form-control" type="text" ng-model-options="{ debounce: 500 }" ng-model="nth['middle-name']" pattern="[A-Z a-z]{2,}">
				</div>
			</div>

			<div class="col-lg-4">
				<div class="form-group label-floating">
					<label class="control-label"><small>Last Name</small></label>
					<input class="form-control" type="text" ng-model-options="{ debounce: 500 }" ng-model="nth['last-name']" pattern="[A-Za-z]{2,}">
				</div>
			</div>

			<div class="col-lg-5">
				<div class="form-group label-floating">
					<label class="control-label"><small>Address</small></label>
					<input class="form-control" type="text" ng-model-options="{ debounce: 500 }" ng-model="nth['address']" minlength="5">
				</div>
			</div>

			<div class="col-lg-2">
				<div class="form-group label-floating">
					<label class="control-label"><small>City</small></label>
					<input class="form-control" type="text" ng-model-options="{ debounce: 500 }" ng-model="nth['city']" minlength="5">
				</div>
			</div>

			<div class="col-lg-3">
				<div class="form-group label-floating">
					<label class="control-label"><small>State/Province</small></label>
					<input class="form-control" type="text" ng-model-options="{ debounce: 500 }" ng-model="nth['state-province']" minlength="5">
				</div>
			</div>

			<div class="col-lg-2">
				<div class="form-group label-floating">
					<label class="control-label"><small>Postal Code</small></label>
					<input class="form-control" type="text" ng-model-options="{ debounce: 500 }" ng-model="nth['zip-postal-code']" minlength="5">
				</div>
			</div>

			<div class="col-lg-3">
				<div class="form-group label-floating">
					<label class="control-label"><small>Birth Date</small></label>
					<input class="form-control" type="text" ng-model-options="{ debounce: 500 }" ng-model="nth['bdate']" minlength="5">
				</div>
			</div>
			
			<div class="col-lg-3">
				<div class="form-group label-floating">
					<label class="control-label"><small>Status</small></label>
					<input class="form-control" type="text" ng-model-options="{ debounce: 500 }" ng-model="nth['status']">
				</div>
			</div>

			<div class="col-lg-3">
				<div class="form-group label-floating">
					<label class="control-label"><small>Household Contact No.</small></label>
					<input class="form-control" type="text" ng-model-options="{ debounce: 500 }" ng-model="nth['household-contact-number']" pattern="[0-9]{5,15}">
				</div>
			</div>

			<div class="col-lg-3">
				<div class="form-group label-floating">
					<label class="control-label"><small>Personal Contact No.</small></label>
					<input class="form-control" type="text" ng-model-options="{ debounce: 500 }" ng-model="nth['personal-contact-number']" pattern="[0-9]{5,15}">
				</div>
			</div>

			<div class="col-lg-12">
				<div class="pull-left">
					<button class="btn btn-raised btn-default" type="button" ng-click="config_dashboard_func_loadEmployee_redirect('Back-End/pages/includes-src/employee-form-driver-details-include.html')">Next</button>
				</div>
				<div class="pull-right">
					<button class="btn btn-raised btn-danger" type="button" ng-click="skedluxeApp_enterprise_func_redirect('Back-End/pages/includes-src/employees-include.html')">Cancel</button>
					<button class="btn btn-raised btn-success" type="submit">Update</button>
				</div>
			</div>

		</div>
	</div>
</div>