<div class="panel panel-default skedluxe-profile-mainPanel">
	<div class="panel-body">
		<div class="row">

			<div class="col-lg-12 skedluxe-form-employee-header"><h4>Emergency Details</h4></div>

			<div class="col-lg-4">
				<div class="form-group label-floating">
					<label class="control-label"><small>Contact Person</small></label>
					<input class="form-control" type="text" ng-model-options="{ debounce: 500 }" ng-model="nth['emergency-contact-name']" minlength="5">
				</div>
			</div>

			<div class="col-lg-6">
				<div class="form-group label-floating">
					<label class="control-label"><small>Address</small></label>
					<input class="form-control" type="text" ng-model-options="{ debounce: 500 }" ng-model="nth['emergency-contact-address']" minlength="5">
				</div>
			</div>

			<div class="col-lg-2">
				<div class="form-group label-floating">
					<label class="control-label"><small>City</small></label>
					<input class="form-control" type="text" ng-model-options="{ debounce: 500 }" ng-model="nth['emergency-contact-city']" minlength="5">
				</div>
			</div>

			<div class="col-lg-4">
				<div class="form-group label-floating">
					<label class="control-label"><small>Emergency Contact Number</small></label>
					<input class="form-control" type="text" ng-model-options="{ debounce: 500 }" ng-model="nth['emergency-contact-number']" pattern="[0-9]{5,}">
				</div>
			</div>

			<div class="col-lg-4">
				<div class="form-group label-floating">
					<label class="control-label"><small>Emergency Contact Email</small></label>
					<input class="form-control" type="email" ng-model-options="{ debounce: 500 }" ng-model="nth['emergency-contact-email']">
				</div>
			</div>

			<div class="col-lg-4">&nbsp;</div>

			<div class="col-lg-12">
				<div class="pull-left">
					<button class="btn btn-raised btn-default" type="button" ng-click="config_dashboard_func_loadEmployee_redirect('Back-End/pages/includes-src/employee-form-driver-details-include.html')">Back</button>
					<button class="btn btn-raised btn-default" type="button" ng-click="config_dashboard_func_loadEmployee_redirect('Back-End/pages/includes-src/employee-form-other-details-include.html')">Next</button>
				</div>
				<div class="pull-right">
					<button class="btn btn-raised btn-danger" type="button" ng-click="skedluxeApp_enterprise_func_redirect('Back-End/pages/includes-src/employees-include.html')">Cancel</button>
					<button class="btn btn-raised btn-success" type="submit">Update</button>
				</div>
			</div>

		</div>
	</div>
</div>