<br>
<p class="text-left">
	<h4 class="skedluxe-hidden-panels" ng-click="config_dashboard_func_loadEmployee(nth);">
		{{ ::nth['email-as-username'] || "No E-mail Assigned." }}<br>
		<small>{{ ::nth['type'] }}</small>
	</h4>
</p>