<uib-tabset active="active">
	<uib-tab index="0">
		<uib-tab-heading>
			<i class="glyphicon glyphicon-home"></i> Overview
		</uib-tab-heading>
		
		<br>

		<div class="panel panel-default skedluxe-profile-mainPanel">
			<div class="panel-body">
				<div class="col-sm-12">
	                <div class="col-sm-9 col-xs-12">
						<h1>John Doe</h1>
						<p><small><b>Filter Tags:</b></small><br>
							<span class="label label-success skedluxe-profile-tags">efw2g</span>&nbsp;
							<span class="label label-success skedluxe-profile-tags">dfbrer</span>&nbsp;
							<span class="label label-success skedluxe-profile-tags">2345346</span>&nbsp;
							<span class="label label-success skedluxe-profile-tags">sdft34</span>&nbsp;
							<span class="label label-success skedluxe-profile-tags">6o67u</span>&nbsp;
							<span class="label label-success skedluxe-profile-tags">232f</span>&nbsp;
						</p>
						<hr>
						<div class="col-sm-6 col-xs-12" style="padding:0px;">
							<b>Contact #: </b> 09345235234 <br>
							<b>Email: </b> temp@gmail.com <br>
						</div>

						<div class="col-sm-6 col-xs-12" style="padding:0px;">
							<b>License #: </b> NA <br>
							<b>Account Type: </b> Free User
						</div>									
	                </div>             
	                <div class="col-sm-3 col-xs-12 text-center">
	                	<h5>Account Rating</h5>
						<span class="badge skedluxe-profile-badge">90</span>
						<a href="javascript:void(0)" class="btn btn-success btn-sm btn-block btn-raised">Verify</a>
	                </div>
	            </div>
			</div>
		</div>

		<div class="panel panel-default skedluxe-profile-mainPanel">
			<div class="panel-body">
				<div class="col-xs-12 text-center">
					<div class="col-md-3 col-sm-6 col-xs-6 skedluxe-profile-numberBudgers">
						<h1>249</h1>
						<p><small class="text-muted">Instructor Rating</small></p>
						<a href="javascript:void(0)" class="btn btn-primary btn-sm btn-raised"><span class="glyphicon glyphicon-star"></span>&nbsp;&nbsp;View</a>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-6 skedluxe-profile-numberBudgers">
						<h1>80</h1>
						<p><small class="text-muted">Driving Schedules</small></p>
						<a href="javascript:void(0)" class="btn btn-primary btn-sm btn-raised"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;Manage</a>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-6 skedluxe-profile-numberBudgers">
						<h1>43</h1>
						<p><small class="text-muted">Classes</small></p>
						<a href="javascript:void(0)" class="btn btn-success btn-sm btn-raised"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;Manage</a>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-6 skedluxe-profile-numberBudgers">
						<h1>43</h1>
						<p><small class="text-muted">Activity History</small></p>
						<a href="javascript:void(0)" class="btn btn-default btn-sm btn-raised"><span class="glyphicon glyphicon-list"></span>&nbsp;&nbsp;View</a>
					</div>
				</div>
			</div>
		</div>
	</uib-tab>
	<uib-tab index="1">
		<uib-tab-heading>
			<i class="glyphicon glyphicon-search"></i> Find
		</uib-tab-heading>
		
		<br>

		<div ng-controller="skedluxeApp_generic_overview_ctrl">
			<div class="panel panel-default skedluxe-profile-mainPanel">
				<div class="panel-body">
					<div class="form-group form-inline">
						<input class="form-control" type="text" placeholder="Search for Schools, Packages and Instructors" style="width:65%;" ng-model-options="{ debounce: 200 }" ng-model="find_school_instructor_packages">

						<div class="form-group checkbox">
							<label><input type="checkbox" ng-model-options="{ debounce: 500 }" ng-model="show_schools" checked>&nbsp;&nbsp;<small>Schools</small></label>
						</div>
						&nbsp;&nbsp;
						<div class="form-group checkbox">
							<label><input type="checkbox" ng-model-options="{ debounce: 500 }" ng-model="show_package" checked>&nbsp;&nbsp;<small>Packages</small></label>
						</div>
						&nbsp;&nbsp;
						<div class="form-group checkbox">
							<label><input type="checkbox" ng-model-options="{ debounce: 500 }" ng-model="show_instructor" checked>&nbsp;&nbsp;<small>Instructors</small></label>
						</div>
					</div>
					<div ng-repeat="nth in school_instructor_packages|filter:find_school_instructor_packages track by $index">
						
						<div class="col-md-4" ng-if="nth['service_id'] == 4 && show_instructor == true">
							<h5>
								<small>Solo Instructor:</small><br> {{ nth["json_data"]["unique_url"] || "No URL specified" }}<br>
								<small>
									- {{ nth["json_data"]["company-data"]["contact-email"] || "No contact email specified" }}<br>
									- {{ nth["json_data"]["company-data"]["complete-address"] || "No address specified" }}
								</small>
							</h5>
							<br>
						</div>

						<div class="col-md-4" ng-if="nth['service_id'] == 5 && show_schools == true">
							<h5>
								<small>School:</small><br> {{ nth["json_data"]["business-name"] || "No business name specified" }}<br>
								<small>
									- {{ nth["json_data"]["unique-url"] || "No URL specified" }}<br>
									- {{ nth["json_data"]["company-data"]["contact-email"] || "No email specified" }}
								</small>
							</h5>
							<br>
						</div>

						<div ng-if="nth['service_id'] == 6 && show_schools == true">
							<div class="col-md-4">
								<h5>
									<small>School:</small><br> {{ nth["json_data"][0]["business-name"] || "No business name specified" }}<br>
									<small>
										- {{ nth["json_data"][0]["unique-url"] || "No URL specified" }}<br>
										- {{ nth["json_data"][0]["company-data"]["contact-email"] || "No email specified" }}
									</small>
								</h5>
								<br>
							</div>
							<div class="col-md-4">
								<h5>
									<small>School:</small><br> {{ nth["json_data"][1]["business-name"] || "No business name specified" }}<br>
									<small>
										- {{ nth["json_data"][1]["unique-url"] || "No URL specified" }}<br>
										- {{ nth["json_data"][1]["company-data"]["contact-email"] || "No email specified" }}
									</small>
								</h5>
								<br>
							</div>
						</div>

						<div class="col-md-4" ng-if="nth['service_id'] == 12 && show_package == true">
							<h5>
								<small>Package:</small><br> {{ nth["json_data"]["package-name"] || "No package name specified" }}<br>
								<small>
									- {{ nth["json_data"]["package-description"] || "No URL specified" }}<br>
									- {{ nth["json_data"]["driving-or-classroom"] + ": " + nth["json_data"]["package-price-currency"] + " " + nth["json_data"]["package-price-per-hr"] + " (" + nth["json_data"]["package-hr-span"] + ")" }}
								</small>
							</h5>
							<br>
						</div>
					</div>
				</div>
			</div>
		</div>
		<br>

	</uib-tab>
</uib-tabset>