<form ng-submit="skedluxeApp_generic_package_func_addClass_submit();skedluxeApp_generic_package_editpackage()">
	<div class="form-inline">
		<div class="input-group form-group label-floating" style="width:49%;">
			<label class="control-label">Start Date</label>
			<input type="text" class="form-control" required minlength="3" ng-model="skedluxeApp_generic_package_var_newClass['start-date']">
		</div>
		<div class="input-group form-group label-floating" style="width:49%;">
			<label class="control-label">End Date</label>
			<input type="text" class="form-control" required minlength="3" ng-model="skedluxeApp_generic_package_var_newClass['end-date']">
		</div>
	</div>

	<div class="form-group label-floating">
		<label class="control-label">Classroom Notes</label>
		<textarea class="form-control" rows="3" minlength="10" ng-model="skedluxeApp_generic_package_var_newClass['cr-notes']"></textarea>
	</div>

	<div class="pull-right">
		<button class="btn btn-raised btn-danger" type="button" ng-click="skedluxeApp_generic_package_redirectForm('Back-End/pages/includes-src/package-class-selection-include.html');">Back</button>
		<button class="btn btn-raised btn-success" type="submit">Update</button>
	</div>
	<br>
</form>