<ul class="breadcrumb">
	<li><a>{{::nth['json_data']['package-name'] || "Package"}}</a></li>
	<li><a>{{::ith['start-date'] || "Class List"}}</a></li>
	<li class="active">Session List</li>
</ul>

<div class="form-group">
	<div class="input-group">
		<input class="form-control" type="text" placeholder="Search Class Session" ng-model-options="{ debounce: 200 }" ng-model="findSession">
		<span class="input-group-btn">
			<button class="btn" type="button" class="btn btn-primary btn-lg" ng-click="skedluxeApp_generic_package_func_addSession();"><span class="glyphicon glyphicon-plus"></span> New Session</button>
		</span>
	</div>
</div>

<div class="row">
	<div ng-repeat="jth in ith['session-details']|filter:findSession track by $index">
		<div class="col-sm-3">
			<div class="form-group" ng-click="skedluxeApp_generic_package_func_loadClass_session(jth, $index);">
				<h4 class="skedluxe-hidden-panels">
					{{ ::jth['session-date'] || "Unspecified Session Date." }}<br>
					<small>{{ ::jth['location'] || "- - - - - - - -" }}</small>
				</h4>
			</div>
		</div>
	</div>
</div>

<div class="form-group">
	<div class="pull-right">
		<button class="btn btn-raised btn-danger" type="button" ng-click="skedluxeApp_generic_package_redirectForm('Back-End/pages/includes-src/package-edit-class-include.html');">Back</button>
	</div>
</div>
<br>