<!-- <ul class="breadcrumb">
	<li class="active">Edit Package Form</li>
</ul> -->

<form ng-submit="skedluxeApp_generic_package_editpackage()">
	<div class="form-inline">
		<div class="input-group form-group">
			<label class="control-label">Lecture Type</label>
			<select class="form-control disabled" ng-model-options="{ debounce: 200 }" ng-model="nth['json_data']['driving-or-classroom']" required>
				<option value="classroom">Classroom</option>
				<option value="driving">Driving</option>
			</select>
		</div>
		<div class="input-group form-group" style="width:49%">
			<label class="control-label">Package Name</label>
			<input type="text" class="form-control" required minlength="5" ng-model="nth['json_data']['package-name']">
		</div>
		<div class="input-group form-group">
			<label class="control-label">Age Bracket</label>
			<select class="form-control" ng-model-options="{ debounce: 200 }" ng-model="nth['json_data']['filter-age-bracket']" required>
				<option value="18-up">18 yrs old and above</option>
				<option value="25-up">25 yrs old and above</option>
				<option value="30-up">30 yrs old and above</option>
				<option value="Teens">Teens</option>
				<option value="Adult">Adult</option>
				<option value="Parent">Parent</option>
			</select>
		</div>
	</div>

	<div class="form-group">
		<label class="control-label">Description</label>
		<textarea class="form-control" rows="2" required minlength="10" ng-model="nth['json_data']['package-description']"></textarea>
	</div>

	<div class="form-inline">
		<div class="input-group form-group">
			<label class="control-label">Currency</label>
			<select class="form-control" ng-model-options="{ debounce: 200 }" ng-model="nth['json_data']['package-price-currency']" required>
				<option value="USD">USD</option>
				<option value="CAD">CAD</option>
				<option value="EUR">EUR</option>
			</select>
		</div>
		<div class="input-group form-group" style="width:24%">
			<label class="control-label">Price</label>&nbsp;&nbsp;
			<input type="text" class="form-control" required pattern="[0-9.,]{2,}" ng-model="nth['json_data']['package-price-per-hr']">
		</div>
		<div class="input-group form-group" style="width:24%">
			<label class="control-label">Lecture Hrs</label>
			<input type="text" class="form-control" required pattern="[0-9.,]{2,}" ng-model="nth['json_data']['package-hr-span']">
		</div>
		<div class="input-group form-group">
			<label class="control-label">Gender Bracket</label>
			<select class="form-control" ng-model-options="{ debounce: 200 }" ng-model="nth['json_data']['filter-gender']" required>
				<option value="Male-Female">Male-Female</option>
				<option value="Female">Female</option>
				<option value="Male">Male</option>
			</select>
		</div>
	</div>

	<!-- <div class="form-inline">
		<div class="input-group form-group">
			<label class="control-label">Age Bracket</label>
			<select class="form-control" ng-model-options="{ debounce: 200 }" ng-model="nth['json_data']['filter-age-bracket']" required>
				<option value="18-up">18 yrs old and above</option>
				<option value="25-up">25 yrs old and above</option>
				<option value="30-up">30 yrs old and above</option>
				<option value="Teens">Teens</option>
				<option value="Adult">Adult</option>
				<option value="Parent">Parent</option>
			</select>
		</div>
		<div class="input-group form-group">
			<label class="control-label">Gender</label>
			<select class="form-control" ng-model-options="{ debounce: 200 }" ng-model="nth['json_data']['filter-gender']" required>
				<option value="Male-Female">Male-Female</option>
				<option value="Female">Female</option>
				<option value="Male">Male</option>
			</select>
		</div>
	</div> -->

	<div class="input-group form-group">
		<label class="control-label">Class Limit</label>
		<input type="text" pattern="[0-9]{1,}" class="form-control" required ng-model="nth['json_data']['package-cater-limit']">
		<span class="input-group-btn checkbox">
			<label><input type="checkbox" ng-model="nth['json_data']['package-status']"><small>&nbsp;&nbsp;Activate Package</small></label>
		</span>
	</div>

	<div class="pull-right">
		<button class="btn btn-raised btn-info" ng-if="nth['json_data']['driving-or-classroom'] == 'classroom'" type="button" ng-click="skedluxeApp_generic_package_redirectForm('Back-End/pages/includes-src/package-class-selection-include.html');">Manage Class</button>
		<button class="btn btn-raised btn-danger" data-dismiss="modal">Cancel</button>
		<button class="btn btn-raised btn-success" type="submit">Update</button>
	</div>
	<br>
</form>