<div ng-controller="skedluxeApp_generic_config_ctrl">
	<div ng-controller="skedluxeApp_generic_package_ctrl">
		<div class="panel panel-default skedluxe-profile-mainPanel">
			<div class="panel-body">
				<div class="form-group">
					<div class="input-group">
						<input class="form-control" type="text" placeholder="Search Packages" ng-model-options="{ debounce: 200 }" ng-model="findPackage">
						<span class="input-group-btn">
							<button class="btn" type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#add-package"><span class="glyphicon glyphicon-plus"></span> New Package</button>
						</span>
					</div>
				</div>
				<div class="col-sm-4" ng-repeat="nth in skedluxeApp_generic_packageList|filter:findPackage">
					<br>
					<div class="form-group checkbox" data-toggle="modal" data-target="#update-package" ng-click="config_dashboard_func_loadPackage(nth);">
						<h4 class="skedluxe-hidden-panels">
							{{ ::nth['json_data']['package-name'] || "No Package Name Assigned." }}
						</h4>
						<label><input type="checkbox" ng-model="nth['json_data']['package-status']" disabled><small>&nbsp;&nbsp;Activate Package</small></label>
					</div>
				</div>
			</div>
		</div>

		<div class="modal fade" id="add-package">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-body">
					
						<form ng-submit="skedluxeApp_generic_package_newPack()">
							<div class="col-lg-8 col-md-8 form-group">
								<input type="text" class="form-control" placeholder="Package Name" required minlength="5" ng-model-options="{ debounce: 200 }" ng-model="skedluxeApp_generic_package['package-name']">
							</div>
							<div class="col-lg-4 col-md-4 form-group">
								<select class="form-control" ng-model-options="{ debounce: 200 }" ng-model="skedluxeApp_generic_package['driving-or-classroom']" required>
									<option>Type</option>
									<option value="classroom">Classroom</option>
									<option value="driving">Driving</option>
								</select>
							</div>
							<div class="col-lg-12 col-md-12 form-group">
								<textarea class="form-control" rows="3" placeholder="Description" required minlength="10" ng-model-options="{ debounce: 200 }" ng-model="skedluxeApp_generic_package['package-description']"></textarea>
							</div>

							<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 form-group">
								<select class="form-control" ng-model-options="{ debounce: 200 }" ng-model="skedluxeApp_generic_package['package-price-currency']" required>
									<option>Currency</option>
									<option value="USD">USD</option>
									<option value="CAD">CAD</option>
									<option value="EUR">EUR</option>
								</select>
							</div>
							<div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 form-group">
								<input type="text" class="form-control" placeholder="Price (per hour)" required pattern="[0-9.,]{2,}" ng-model-options="{ debounce: 200 }" ng-model="skedluxeApp_generic_package['package-price-per-hr']">
							</div>
							<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 form-group">
								<input type="text" class="form-control" placeholder="Lecture Hrs" required pattern="[0-9.,]{2,}" ng-model-options="{ debounce: 200 }" ng-model="skedluxeApp_generic_package['package-hr-span']">
							</div>
							<div class="col-lg-6 col-md-6 form-group">
								<select class="form-control" ng-model-options="{ debounce: 200 }" ng-model="skedluxeApp_generic_package['filter-age-bracket']" required>
									<option value="18-up">18 yrs old and above</option>
									<option value="25-up">25 yrs old and above</option>
									<option value="30-up">30 yrs old and above</option>
									<option value="Teens">Teens</option>
									<option value="Adult">Adult</option>
									<option value="Parent">Parent</option>
								</select>
							</div>
							<div class="col-lg-6 col-md-6 form-group">
								<select class="form-control" ng-model-options="{ debounce: 200 }" ng-model="skedluxeApp_generic_package['filter-gender']" required>
									<option value="Male-Female">Male-Female</option>
									<option value="Female">Female</option>
									<option value="Male">Male</option>
								</select>
							</div>
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
								<div class="form-group checkbox">
									<label><input type="checkbox" checked="true" ng-model="skedluxeApp_generic_package['package-status']"><small>&nbsp;&nbsp;Activate Package</small></label>
								</div>
							</div>
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group">
								<input type="number" class="form-control" placeholder="Class Limit" required ng-model-options="{ debounce: 200 }" ng-model="skedluxeApp_generic_package['package-cater-limit']">
							</div>
							<div class="col-lg-12">
								<br>&nbsp;</br>
								<button class="btn btn-md btn-raised btn-success btn-block" type="submit">Publish</button>
							</div>
						</form>
						<small>&nbsp;</small>
					</div>
				</div>
			</div>
		</div>

		<div class="modal fade" id="update-package">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-body">

						<div ng-include="skedluxeApp_generic_package_var_currentForm" onload="skedluxeApp_generic_loadbasics();"></div>

						<br>&nbsp;</br>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>