<ul class="breadcrumb">
	<li><a>{{::nth['json_data']['package-name'] || "Package"}}</a></li>
	<li class="active">Class List</li>
</ul>

<div class="form-group">
	<div class="input-group">
		<input class="form-control" type="text" placeholder="Search Class" ng-model-options="{ debounce: 200 }" ng-model="findClass">
		<span class="input-group-btn">
			<button class="btn" type="button" class="btn btn-primary btn-lg" ng-click="skedluxeApp_generic_package_func_addClass();"><span class="glyphicon glyphicon-plus"></span> New Class</button>
		</span>
	</div>
</div>

<div class="row">
	<div ng-repeat="ith in nth['json_data']['class-selection']|filter:findClass track by $index">
		<div class="col-sm-3" ng-if="$index != 0">
			<div class="form-group" ng-click="skedluxeApp_generic_package_func_loadClass_selection(ith, $index);">
				<h4 class="skedluxe-hidden-panels">
					{{ ::ith['start-date'] || "Unspecified Start/End Date." }}<br>
					<small>{{ ::ith['end-date'] || "- - - - - - - -" }}</small>
				</h4>
			</div>
		</div>
	</div>
</div>

<div class="form-group">
	<div class="pull-right">
		<button class="btn btn-raised btn-danger" type="button" ng-click="skedluxeApp_generic_package_redirectForm('Back-End/pages/includes-src/package-update-package-include.html');">Back</button>
	</div>
</div>
<br>