<form ng-submit="skedluxeApp_generic_package_func_addSession_submit();skedluxeApp_generic_package_editpackage()">
	<div class="form-inline">
		<div class="input-group form-group label-floating" style="width:33%;">
			<label class="control-label">Session Date</label>
			<input type="text" class="form-control" required minlength="3" ng-model="skedluxeApp_generic_package_var_newSession['session-date']">
		</div>
		<div class="input-group form-group label-floating" style="width:33%;">
			<label class="control-label">Start Time</label>
			<input type="text" class="form-control" required minlength="3" ng-model="skedluxeApp_generic_package_var_newSession['start-time']">
		</div>
		<div class="input-group form-group label-floating" style="width:33%;">
			<label class="control-label">End Time</label>
			<input type="text" class="form-control" required minlength="3" ng-model="skedluxeApp_generic_package_var_newSession['end-time']">
		</div>
	</div>

	<div class="form-inline">
		<div class="input-group form-group label-floating" style="width:49%;">
			<label class="control-label">Location Address</label>
			<input type="text" class="form-control" required minlength="3" ng-model="skedluxeApp_generic_package_var_newSession['location']">
		</div>
		<div class="input-group form-group label-floating" style="width:49%;">
			<label class="control-label">Map Link</label>
			<input type="text" class="form-control" required minlength="3" ng-model="skedluxeApp_generic_package_var_newSession['map-link']">
		</div>
	</div>

	<div class="pull-right">
		<button class="btn btn-raised btn-danger" type="button" ng-click="skedluxeApp_generic_package_redirectForm('Back-End/pages/includes-src/package-class-session-include.html');">Back</button>
		<button class="btn btn-raised btn-success" type="submit">Update</button>
	</div>
	<br>
</form>