<div class="panel panel-default skedluxe-profile-mainPanel">
	<div class="panel-body text-center">
		<center><img src="Back-End/img/Edited.png" class="thumbnail img-responsive skedluxe-profile-picture"></center>
		<h3><b>Username Here</b></h3>
		<a href="javascript:void(0)" class="btn btn-raised btn-success">Message</a>

		<hr class="skedluxe-profile-hrDivider">
		<a href="#" class="btn btn-default btn-lg btn-block skedluxe-profile-btnProfile"><i class="material-icons">assignment_ind</i>Account Settings</a>
		<a class="btn btn-default btn-lg btn-block skedluxe-profile-btnProfile" ng-click="skedluxeApp_enterprise_func_redirect('Back-End/pages/includes-src/overview-include.html')"><i class="material-icons">public</i>Overview</a>
		<a class="btn btn-default btn-lg btn-block skedluxe-profile-btnProfile" ng-click="skedluxeApp_enterprise_func_redirect('Back-End/pages/includes-src/company-include.html')"><i class="material-icons">content_paste</i>Company</a>
		<a class="btn btn-default btn-lg btn-block skedluxe-profile-btnProfile" ng-click="skedluxeApp_enterprise_func_redirect('Back-End/pages/includes-src/employees-include.html')"><i class="material-icons">group</i>Employees</a>
		<a class="btn btn-default btn-lg btn-block skedluxe-profile-btnProfile" ng-click="skedluxeApp_enterprise_func_redirect('Back-End/pages/includes-src/package-include.html')"><i class="material-icons">create_new_folder</i>Packages</a>
	</div>
</div>