
<div class="container-fluid skedluxe-error-container text-center" ng-controller="skedluxeApp_error_ctrl">
	<p class="skedluxe-error-name">F<span class="glyphicon glyphicon-lock"></span>rbidden</p>

	<div class="col-lg-6 col-md-8 col-sm-8 col-xs-12 col-lg-offset-3 col-md-offset-2 col-sm-offset-2">
		<div class="panel panel-default">
			<div class="panel-body">
				<br>
				<p class="text-justify">
					&emsp;&emsp;Sorry, but your trying to access a <b>forbidden</b> resource. Please refer to the link provided below for a more detailed explanation. Thank you.
					<hr>
					<a href="https://www.globo.tech/learning-center/5-most-common-http-error-codes-explained/" class="skedluxe-error-explained">- ERROR <small class="skedluxe-error-note">403</small> -</a>
				</p>
			</div>
		</div>
	</div>
</div>