
<div class="container-fluid skedluxe-error-container text-center" ng-controller="skedluxeApp_error_ctrl">
	<p class="skedluxe-error-name">
		<span class="glyphicon glyphicon-file"></span> 
		N<span class="glyphicon glyphicon-ban-circle"></span>t Found
	</p>

	<div class="col-lg-6 col-md-8 col-sm-8 col-xs-12 col-lg-offset-3 col-md-offset-2 col-sm-offset-2">
		<div class="panel panel-default">
			<div class="panel-body">
				<br>
				<p class="text-justify">
					&emsp;&emsp;Sorry, but your requested <b>resource could not be found</b>. It's either its no longer here or it doesn't exist in the first place. Please refer to the link provided below for a more detailed explanation. Thank you.
					<hr>
					<a href="https://www.globo.tech/learning-center/5-most-common-http-error-codes-explained/" class="skedluxe-error-explained">- ERROR <small class="skedluxe-error-note">404</small> -</a>
				</p>
			</div>
		</div>
	</div>
</div>