
<div ng-controller="skedluxeApp_business_dashboard_ctrl">
	<div ng-include="'Back-End/pages/includes-src/user-menu-include.html'"></div>

	<div class="container-fluid skedluxe-general-container">
		<div class="row">
			<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
				<div ng-include="'Back-End/pages/includes-src/user-options-include.html'"></div>
			</div>

			<div class="col-lg-9 col-md-8 col-sm-8 col-xs-12">
				<div ng-include src="skedluxeApp_enterprise_dashboard_var_activeInclude" onload="skedluxeApp_generic_loadbasics()"></div>
				
				<br>&nbsp;</br>
			</div>
		</div>
	</div>
</div>