
<div class="container-fluid skedluxe-general-container" ng-controller="skedluxeApp_forgotpassword_ctrl">
	<div class="col-lg-4 col-md-6 col-sm-6 col-xs-10 col-lg-offset-4 col-md-offset-3 col-sm-offset-3 col-xs-offset-1">
		<h1 class="text-center"><b>Skedluxe</b> Directory</h1>

		<div class="panel panel-default">
			<div class="panel-body">
				<h3 class="text-center">Password Recovery</h3>
				<hr>
				<p>Input your registered E-mail address and we will send you your password after we verify your identity.</p>

				<form>
					<div class="form-group label-floating">
						<label class="control-label" for="username">Email</label>
						<input class="form-control" id="verify-email" type="email" ng-model="remPass_var_email">
						<p class="help-block">This E-mail must be your registered email.</p>
					</div>
					<br>
										
					<button type="submit" class="btn btn-raised btn-block btn-primary pull-right" ng-click="remPass_func_submitForm();">Recover Password</button>
				</form>
			</div>
		</div>
	</div>
</div>