
<div ng-controller="skedluxeApp_free_dashboard_ctrl">
	<div class="navbar skedluxe-navbar-custom navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand"><b>Skedluxe</b> Directory</a>
			</div>
			
			<div class="navbar-collapse collapse navbar-inverse-collapse">
				<ul class="nav navbar-nav navbar-right">
					<li><a ng-click="logout_func_trigger();"><i class="material-icons">clear</i></a></li>
					<li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="container-fluid skedluxe-general-container">
		<div class="row">
			<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
				<div class="panel panel-default skedluxe-profile-mainPanel">
					<div class="panel-body text-center">
						<center><img src="Back-End/img/Edited.png" class="thumbnail img-responsive skedluxe-profile-picture"></center>
						<h3><b>Username Here</b></h3>
					</div>
				</div>
			</div>

			<div class="col-lg-9 col-md-8 col-sm-8 col-xs-12">

				<div class="alert alert-warning">
					<h4>Warning!</h4>
					Your currently registered as a <b>Free User</b>, thus you are not entitled to any scheduling features. Upgrade to other <u><a href="#/plans">plans</a></u> now!
				</div>

				<div class="panel panel-default skedluxe-profile-mainPanel" ng-if="free_dashboard_var_pending != '' && free_dashboard_var_pending != undefined">
					<div class="panel-body">
						<div class="col-lg-12">
							<p>You have a pending upgrade request from permit codes <b ng-bind="free_dashboard_var_pending"></b></p>
							<p>Once your request is validated, you will automatically be redirected to your new dashboard.</p>
						</div>
					</div>
				</div>

				<div class="panel panel-default skedluxe-profile-mainPanel">
					<div class="panel-body">
						<form>
							<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
								<h4>Provide your permit number to upgrade your account.</h4>
								<br>
								<b>Note!</b>
								<br>
								<small>Upgrading your account may take 1-2 business days of verification by our team. You will be able to use the new features after a successful verification process. Thank you.</small>
							</div>
							<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
								<div class="form-group label-floating">
									<label class="control-label" for="permitcode">12 Character Permit Code</label>
									<input class="form-control" id="permitcode" type="text" ng-model="free_dashboard_var_updatePermit" pattern=".{12,12}" title="Improper permit code format. Check your email.">
									<p class="help-block">XXX - XXX - XXX - XXX</p>
									<br>
								</div>
							</div>
							<button type="submit" class="btn btn-raised btn-primary pull-right" ng-click="free_dashboard_func_updatePermit();">Submit</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>