
<div class="container-fluid skedluxe-general-container" ng-controller="skedluxeApp_employee_login_ctrl">
	<div class="col-lg-4 col-md-6 col-sm-6 col-xs-10 col-lg-offset-4 col-md-offset-3 col-sm-offset-3 col-xs-offset-1">
		<h1 class="text-center">{{ show_company_welcome || 'Welcome' }}</h1>
		<h5 class="text-center">- <b>Skedluxe</b> Directory -</h5>
		<br>
		<div class="panel panel-default">
			<div class="panel-body">
				
				<form ng-submit="login_func_submitForm()">
					<div class="form-group label-floating">
						<label class="control-label" for="username">Email</label>
						<input class="form-control" id="username" type="email" ng-model="login_input_email" required>
						<p class="help-block">Contact your company admin for lost username/password.</p>
					</div>

					<div class="form-group label-floating">
						<label class="control-label" for="password">Password</label>
						<input class="form-control" id="password" type="password" ng-model="login_input_pass" required pattern=".{1,25}" title="1-25 characters only.">
					</div>

					<br>&nbsp;</br>
					<button type="submit" class="btn btn-raised btn-primary pull-right">Login</button>
				</form>
			</div>
		</div>
	</div>
</div>