
<div class="container-fluid skedluxe-general-container" ng-controller="skedluxeApp_login_ctrl">
	<div class="col-lg-4 col-md-6 col-sm-6 col-xs-10 col-lg-offset-4 col-md-offset-3 col-sm-offset-3 col-xs-offset-1">
		<h1 class="text-center"><b>Skedluxe</b> Directory</h1>

		<div class="panel panel-default">
			<div class="panel-body">
				
				<form>
					<div class="form-group label-floating">
						<label class="control-label" for="username">Username</label>
						<input class="form-control" id="username" type="text" ng-model="login_input_usern" required pattern="[_0-9A-Za-z]{8,25}" title="8-25 characters only.">
						<p class="help-block">Must be more than <b>8 characters</b></p>
					</div>

					<div class="form-group label-floating">
						<label class="control-label" for="password">Password</label>
						<input class="form-control" id="password" type="password" ng-model="login_input_pass" required pattern=".{8,25}" title="8-25 characters only.">
						<p class="help-block">Must be more than <b>8 characters</b>. Be sure to remember it always.</p>
					</div>

					<div class="form-group checkbox">
						<label>
							<input type="checkbox" id="rememberMeChecker" ng-click="login_func_rememberMe()" ng-model="rememberMe">&nbsp;&nbsp;<small>Remember Me</small>
						</label>
					</div>
					<br>&nbsp;</br>

					<div class="pull-left skedluxe-login-tail">
						<a href="#/resend/lost/credentials">Lost username & password</a> | <a href="#/signup">Signup</a>
					</div>
					<button type="submit" class="btn btn-raised btn-primary pull-right" ng-click="login_func_submitForm();">Login</button>
				</form>
			</div>
		</div>
	</div>
</div>