<div class="container skedluxe-general-container" ng-controller="skedluxeApp_plans_ctrl">
	<div class="navbar skedluxe-navbar-custom navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand"><b>Skedluxe</b> Directory</a>
			</div>
			
			<div class="navbar-collapse collapse navbar-inverse-collapse">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#/signup">Signup</a></li>
					<li><a href="#/login">Login</a></li>
					<li><a href="/">Home</a></li>
					<li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
				</ul>
			</div>
		</div>
	</div>

	<!-- Plan -->
	<div class="row">
		<div class="container-fluid">

			<div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
				<div class="panel panel-default">
					<div class="panel-body">
						<h2>Welcome!</h2><br>Looking for a <b>PLAN</b>? Feel free to try our premium plans for 45 Days <b>FREE</b>.<br>Just click on the trial buttons and copy the generated 12 character permit code. You will use it during your signup.<br></br>Thank you.
					</div>
				</div>
			</div>

			<div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 skedluxe-plans-container" ng-repeat="nth in nonPremium">
				<div class="panel panel-default skedluxe-plans-noBorder">
					<div class="panel-heading skedluxe-plans-noBorder-heading">
						<h1 class="panel-title skedluxe-plan-title">{{ nth.name }}</h1>
					</div>
					<div class="panel-body skedluxe-plans-body">
						<center>
							<span class="skedluxe-plan-duration">$</span>
							<span class="skedluxe-plan-price3">{{ nth.billed_annually }}</span>
						</center>
						<center>
							<span ng-repeat="ith in nth.inclusions" uib-popover="{{ ith.featdesc }}" popover-trigger="'mouseenter'">
								{{ ith.featname }}
							</span>
							<hr class="skedluxe-plan-divider-feat">
							<a href="#/signup" class="btn btn-default btn-md btn-block">Signup</a>
						</center>
					</div>
				</div>
			</div>

			<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 skedluxe-plans-container" ng-repeat="nth in oneTimePay">
				<div class="panel panel-default skedluxe-plans-noBorder">
					<div class="panel-heading skedluxe-plans-noBorder-heading">
						<h1 class="panel-title skedluxe-plan-title">{{ nth.name }}</h1>
					</div>
					<div class="panel-body skedluxe-plans-body">
						<center>
							<br>
							<span>One Time Pay For</span>
						</center><br>
						<center>
							<span class="skedluxe-plan-duration">$</span>
							<span class="skedluxe-plan-price3">{{ nth.billed_monthly }}</span>
							<span class="skedluxe-plan-duration"><br><small><strike>(Monthly Bill)</strike></small></span>
						</center><br>
						<center>
							<span ng-repeat="ith in nth.inclusions" uib-popover="{{ ith.featdesc }}" popover-trigger="'mouseenter'">
								{{ ith.featname }}
								<hr class="skedluxe-plan-divider-feat" ng-if="ith.featname != ''">
								<hr class="skedluxe-plan-divider-inv" ng-if="ith.featname == ''">
							</span>

							<button class="btn btn-default btn-md btn-block btn-raised" data-toggle="modal" data-target="#generateCodec" ng-click="plans_func_generateCode(nth.id)">Signup</button>
						</center>
					</div>
				</div>
			</div>

			<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 skedluxe-plans-container" ng-repeat="nth in lowmonthly">
				<div class="panel panel-default skedluxe-plans-noBorder">
					<div class="panel-heading skedluxe-plans-noBorder-heading">
						<h1 class="panel-title skedluxe-plan-title">{{ nth.name }}</h1>
					</div>
					<div class="panel-body skedluxe-plans-body">
						<center>
							<span class="skedluxe-plan-duration">$</span>
							<span class="skedluxe-plan-price">{{ nth.billed_annually }}</span>
							<span class="skedluxe-plan-duration">
								<small>/month</small><br>
								<small>(Annual Bill)</small>
							</span>
						</center><br>
						<center>
							<span class="skedluxe-plan-duration">$</span>
							<span class="skedluxe-plan-price2">{{ nth.billed_monthly }}</span>
							<span class="skedluxe-plan-duration"><br><small>(Monthly Bill)</small></span>
						</center><br>
						<center>
							<span ng-repeat="ith in nth.inclusions" uib-popover="{{ ith.featdesc }}" popover-trigger="'mouseenter'">
								{{ ith.featname }}
								<hr class="skedluxe-plan-divider-feat" ng-if="ith.featname != ''">
								<hr class="skedluxe-plan-divider-inv" ng-if="ith.featname == ''">
							</span>

							<button class="btn btn-default btn-md btn-block btn-raised" data-toggle="modal" data-target="#generateCodec" ng-click="plans_func_generateCode(nth.id)">Avail 45 Day Trial</button>
						</center>
					</div>
				</div>
			</div>
			
			<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 skedluxe-plans-container" ng-repeat="nth in popular">
				<!-- ng-class="{false: {false: 'panel-default', true: 'panel-success'}[nth.billed_annually == 1000], true: 'panel-primary'}[nth.billed_annually == 249.99]" -->
				<div class="panel panel-success skedluxe-plans-noBorder">
					<div class="panel-heading skedluxe-plans-noBorder">
						<h1 class="panel-title skedluxe-plan-title">{{ nth.name }}</h1>
					</div>
					<div class="panel-body skedluxe-plans-body">
						<center>
							<span class="skedluxe-plan-duration">$</span>
							<span class="skedluxe-plan-price">{{ nth.billed_annually }}</span>
							<span class="skedluxe-plan-duration">
								<small>/month</small><br>
								<small>(Annual Bill)</small>
							</span>
						</center><br>
						<center>
							<span class="skedluxe-plan-duration">$</span>
							<span class="skedluxe-plan-price2">{{ nth.billed_monthly }}</span>
							<span class="skedluxe-plan-duration"><br><small>(Monthly Bill)</small></span>
						</center><br>
						<center>
							<span ng-repeat="ith in nth.inclusions" uib-popover="{{ ith.featdesc }}" popover-trigger="'mouseenter'">
								{{ ith.featname }}
								<hr class="skedluxe-plan-divider-feat" ng-if="ith.featname != ''">
								<hr class="skedluxe-plan-divider-inv" ng-if="ith.featname == ''">
							</span>

							<button class="btn btn-success btn-md btn-block btn-raised" data-toggle="modal" data-target="#generateCodec" ng-click="plans_func_generateCode(nth.id)">Avail 45 Day Trial</button>
						</center>
					</div>
				</div>
			</div>

			<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 skedluxe-plans-container" ng-repeat="nth in highmonthly">
				<div class="panel panel-primary skedluxe-plans-noBorder">
					<div class="panel-heading skedluxe-plans-noBorder">
						<h1 class="panel-title skedluxe-plan-title">{{ nth.name }}</h1>
					</div>
					<div class="panel-body skedluxe-plans-body">
						<center>
							<br>
							<span>Price Starts At</span>
						</center><br>
						<center>
							<span class="skedluxe-plan-duration">$</span>
							<span class="skedluxe-plan-price3">{{ nth.billed_monthly }}</span>
							<span class="skedluxe-plan-duration"><br><small>(Monthly Bill)</small></span>
						</center><br>
						<center>
							<span ng-repeat="ith in nth.inclusions" uib-popover="{{ ith.featdesc }}" popover-trigger="'mouseenter'">
								{{ ith.featname }}
								<hr class="skedluxe-plan-divider-feat" ng-if="ith.featname != ''">
								<hr class="skedluxe-plan-divider-inv" ng-if="ith.featname == ''">
							</span>

							<button class="btn btn-primary btn-md btn-block btn-raised" data-toggle="modal" data-target="#generateCodec" ng-click="plans_func_generateCode(nth.id)">Avail 45 Day Trial</button>
						</center>
					</div>
				</div>
			</div>

			<div id="generateCodec" class="modal fade" tabindex="-1">
				<div class="modal-dialog modal-sm">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
							<h4 class="modal-title">Generated Code</h4>
						</div>
						<div class="modal-body">

							<pre><h4><center>{{ plans_var_generatedCode }}</center></h4></pre>

						</div>
						<div class="modal-footer">
							<button ng-click="toSignup();" class="btn btn-primary">Signup</button>
							<button type="button" class="btn btn-primary" data-dismiss="modal">Dismiss</button>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>