
<div class="container-fluid skedluxe-general-container" ng-controller="skedluxeApp_signup_ctrl">
	<div class="col-lg-8 col-md-10 col-sm-10 col-xs-12 col-lg-offset-2 col-md-offset-1 col-sm-offset-1">
		<h1 class="text-center"><b>Skedluxe</b> Directory</h1>
		<!-- block-ui block-ui-pattern="/^\/api\/signup($|\/).*/" -->
		<div class="panel panel-default">
			<div class="panel-body">
				<div class="row">
					<form>
						<div class="col-lg-6 col-lg-6 col-sm-6 col-xs-12">
							<div class="form-group label-floating">
								<label class="control-label" for="username">Username</label>
								<input class="form-control" id="username" type="text" ng-model="signup_input_usern" required pattern="[_0-9A-Za-z]{8,25}" title="8-25 characters only.">
								<p class="help-block">Must be more than <b>8 characters</b></p>
							</div>

							<div class="form-group label-floating">
								<label class="control-label" for="password">Password</label>
								<input class="form-control" id="password" type="password" ng-model="signup_input_pass" required pattern=".{8,25}" title="8-25 characters only.">
								<p class="help-block">Must be more than <b>8 characters</b>. Be sure to remember it always.</p>
							</div>

							<div class="form-group label-floating">
								<label class="control-label" for="fullname">Full Name</label>
								<input class="form-control" id="fullname" type="text" ng-model="signup_input_fulln" required>
								<p class="help-block">Provide you complete <b>REAL</b> name. NOT fake, pseudonym or codename.</p>
							</div>

							<div class="form-group label-floating">
								<label class="control-label" for="contactno">Contact Number</label>
								<input class="form-control" id="contactno" type="text" ng-model="signup_input_mobileno" required pattern="[0-9]{11,13}" title="11 or 13 (+63) digit mobile number format.">
								<p class="help-block"><b>11 digit</b> mobile numbers only.</p>
							</div>

							<div class="form-group label-floating">
								<label class="control-label" for="email">Email</label>
								<input class="form-control" id="email" type="email" ng-model="signup_input_email" required>
								<p class="help-block">Must be <b>ACTIVE</b>. We will send you a confirmation e-mail.</p>
							</div>
							<br>
						</div>

						<div class="col-lg-6 col-lg-6 col-sm-6 col-xs-12">
							<div class="form-group label-floating">
								<label class="control-label" for="driverLicense">Driver's License Number</label>
								<input class="form-control" id="driverLicense" type="text" ng-model="signup_input_license">
								<p class="help-block">Provide your driver's <b>LICENSE No.</b> if you have one. Leave it blank if none.</p>
							</div>

							<div class="form-group label-floating">
								<select class="form-control" ng-model="signup_select_roleOptions" ng-change="signup_func_getRoleSelected();" ng-options="opt for opt in signup_var_roles">
								</select>
								<small>You will be signed as a <b>FREE</b> user if you dont provide a <b>PERMIT CODE</b>.</small>
							</div>

							<div class="form-group label-floating" ng-show="signup_var_permitcode_notfree">
								<label class="control-label" for="permitcode">12 Character Permit Code</label>
								<input class="form-control" id="permitcode" type="text" ng-model="signup_input_permitcode" pattern=".{12,12}" title="Improper permit code format. Check your email.">
								<p class="help-block">XXX - XXX - XXX - XXX</p>
								<br>
							</div>

							<div class="form-group checkbox">
								<label>
									<input type="checkbox" ng-click="signup_func_agree2Terms();">&nbsp;&nbsp;<small>Agree to <span type="button" data-toggle="modal" data-target="#termsCondition">Terms of Services</span> and <span type="button" data-toggle="modal" data-target="#privacyPolicy">Privacy Policy</span>.</small>
								</label>
							</div>
							<br>&nbsp;</br>

							<!-- <div class="form-group"> -->
								<div class="pull-left skedluxe-signup-tail">
									<a href="#/login">Login</a> | <a href="#/resend/lost/credentials">Lost username & password</a> | <a href="#/plans">View Plans</a>
								</div>
								<button type="submit" class="btn btn-raised btn-primary pull-right" ng-disabled="signup_var_dontAgree2Terms" ng-click="signup_func_submitForm();">Submit</button>
							<!-- </div> -->

							<div id="termsCondition" class="modal fade" tabindex="-1">
								<div class="modal-dialog modal-lg">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
											<h4 class="modal-title">Terms and Conditions</h4>
										</div>
										<div class="modal-body">
											<h4>INTRODUCTION</h4>
											<pre>Welcome to Skedluxe.com, one of the best forum sites in the web. This Agreement contains the complete terms and conditions that apply to your participation in our forums, chats and discussions and accessing our message boards. By using this Web site, its tools and services, you agree to be bound by its terms of use and shall comply thereof.<br></br>This Agreement describes and encompasses the entire agreement between us and you, and supersedes all prior or contemporaneous agreements, representations, warranties and understandings with respect to the Site, the content and computer programs provided by or through the Site, and the subject matter of this Agreement. Amendments to this agreement can be made and effected by us from time to time without specific notice to you end. Agreement posted on the Site reflects the latest agreement and you should carefully review the same before you use our site.</pre>
											<br>
											<h4><small>Use of the site &</small> PROHIBITIONS</h4>
											<pre>This site allows you to join forums, chat, make comments and discussion and send messages to members of this website. You understand and agree that you will use this site including its tools and services with full sense of responsibility and in a manner that is consistent with these Terms and in such a way as to ensure compliance with all applicable laws and regulations. However, you are prohibited to do the following acts, to wit: (a) use our sites, including its services and or tools if you are not able to form legally binding contracts, are under the age of 18, or are temporarily or indefinitely suspended from using our sites, services, or tools (b) posting of an items, messages, and or contents that are inappropriate and fails to observe decency; (c) collecting information about users’ personal information; (d) post false, inaccurate, misleading, defamatory, or libelous content; (e) take any action that may damage the rating system.</pre>
											<br>
											<h4>Registration Information</h4>
											<pre>For you to complete the sign-up process in our site, you must provide your full legal name, current address, a valid email address, member name and any other information needed in order to complete the signup process. You must qualify that you are 18 years or older and must be responsible for keeping your password secure and be responsible for all activities and contents that are uploaded under your account. You must not transmit any worms or viruses or any code of a destructive nature. Any information provided by you or gathered by the site or third parties during any visit to the site shall be subject to the terms of Bizéclat’s Privacy Policy.</pre>
											<br>
											<h4>Acknowledgment of Rights</h4>
											<pre>The Web allows people throughout the world to share valuable information, ideas and creative works. To ensure continued open access to such materials, we all need to protect the rights of those who share their creations with us. Although we make the Site freely accessible, we don't intend to give up our rights, or anyone else's rights, to the materials appearing on them. The materials available on the site shall remain the property of Skedluxe.com and/or its licensors, and are protected by copyright, trademark and other intellectual property laws. You acquire no proprietary interest in any such rights. Furthermore, you may not remove or obscure the copyright notice or any other notices contained in the site or anything retrieved or downloaded from them.<br></br>You hereby acknowledge that all rights, titles and interests, including but not limited to rights covered by the Intellectual Property Rights, in and to the site, and that You will not acquire any right, title, or interest in or to the site except as expressly set forth in this Agreement. You will not modify, adapt, translate, prepare derivative works from, decompile, reverse engineer, disassemble or otherwise attempt to derive source code from any of our services, software, or documentation, or create or attempt to create a substitute or similar service or product through use of or access to the Program or proprietary information related thereto.</pre>
											<br>
											<h4>LINKs / HYPERLINKS</h4>
											<pre>Links are welcome to the site and you are allowed to establish hyperlink to appropriate part within the site provided that: (i) you post your link only within the forum, chat or message board section; (ii) you do not remove or obscure any advertisements, copyright notices or other notices on the placed at the site; (iii) the link does not state or imply any sponsorship or endorsement of your site and (iv) you immediately stop providing any links to the site on written notice from us. However, you must check the copyright notice on the homepage to which you wish to link to make sure that one of our content providers does not have its own policies regarding direct links to their content on our sites.</pre>
											<br>
											<h4>CHAT ROOMS, FORUMS AND OTHER MATERIALS POSTED BY YOU</h4>
											<pre>You are responsible for the content of your messages and posts, and its consequences. We reserve the right to terminate your registration if it becomes aware and determines, in its sole discretion, that you are violating any of the guidelines set forth in this agreement and privacy policy. While we want to encourage an open exchange of information and ideas, yet, we do not review postings made in any chat rooms, forums and other public-posting areas on the site. You can expect these areas to include information and opinions from a variety of individuals and organizations other than us. The views, claims and opinions expressed in the customer reviews article, services offered, services received, etc., are those of the authors and they do not reflect the opinion, official policy or position of Skedluxe, its employees, agents or representatives. We do not endorse or guarantee the accuracy, integrity or quality of any posting, regardless of whether the posting comes from a user, from a celebrity or "expert" guest, or from a member of our staff.<br></br>By participating in this forum site, you understand and agree not to post or transmit any material that, in our judgment, is defamatory, abusive, obscene, threatening or unlawful in any way, or any material that infringes on the rights of others or contains any virus or other computer programming routine which may interfere with or damage the site or otherwise interrupt on the ability of others to use or enjoy the same. We reserve the right to delete, move or edit any postings that come to our attention that we consider unacceptable or inappropriate, whether for legal or for any other reason. Furthermore, we reserve the right to deny access to anyone who we believe, in our sole discretion, has in any way breached these Terms or where we reasonably believe a user does not comply with any relevant age restrictions on the site.</pre>
											<br>
											<h4>WARRANTY DISCLAIMER AND EXCLUSIONS / LIMITATIONS OF LIABILITY</h4>
											<pre>We make no express or implied warranties or representations with respect to the Program or any products sold through the Program (including, without limitation, warranties of fitness, merchantability, non-infringement, or any implied warranties arising out of a course of performance, dealing, or trade usage). In addition, we make no representation that the operation of our site will be uninterrupted or error-free, and we will not be liable for the consequences of any interruptions or errors. We may change, restrict access to, suspend or discontinued the site or any part of it at any time. The information, content and services on the site are provided on an “as is” basis. When you use the site and or participate therein, you understand and agree that you participate at your own risk.<br></br>The Skedluxe.com website shall in no way be liable to you or anyone else, whether from any sources of obligations or in any other way, except in respect of death or personal injury arising from their own negligence, for any claims, losses, demand or damages arising directly or indirectly out or in any way connected with your use of the site. You hereby agree that the liability of Skedluxe t, if there is any, arising out of any kind of legal claim in any connected to the site shall not exceed the amount you paid to the site for the use of the same.</pre>
											<h4></h4>
											Confidentiality
											<pre>You agree not to disclose information you obtain from us and or from our clients, advertisers, suppliers and forum members. All information submitted to by an end-user customer pursuant to a Program is proprietary information of Skedluxe. Such customer information is confidential and may not be disclosed. Publisher agrees not to reproduce, disseminate, sell, distribute or commercially exploit any such proprietary information in any manner.</pre>
											<br>
											<h4>NON-WAIVER</h4>
											<pre>Failure of the Skedluxe.com to insist upon strict performance of any of the terms, conditions and covenants hereof shall not be deemed a relinquishment or waiver of any rights or remedy that the we may have, nor shall it be construed as a waiver of any subsequent breach of the terms, conditions or covenants hereof, which terms, conditions and covenants shall continue to be in full force and effect.<br></br>No waiver by either party of any breach of any provision hereof shall be deemed a waiver of any subsequent or prior breach of the same or any other provision.</pre>
											<br>
											<h4>MISCELLANEOUS</h4>
											<pre>This Agreement shall be governed by and construed in accordance with the substantive laws of United States of America, without any reference to conflict-of-laws principles.<br></br>Any dispute, controversy or difference which may arise between the parties out of, in relation to or in connection with this Agreement is hereby irrevocably submitted to the exclusive jurisdiction of the courts of United States of America, to the exclusion of any other courts without giving effect to its conflict of law’s provisions or your actual state or country of residence.<br></br>The entire agreement between the parties with respect to the subject matter hereof is embodied on this agreement and no other agreement relative hereto shall bind either party herein.<br></br>Your rights of whatever nature cannot be assigned nor transferred to anybody, and any such attempt may result in termination of this Agreement, without liability to us. However, we may assign this Agreement to any person at any time without notice.<br></br>In the event that any provision of these Terms and Conditions is found invalid or unenforceable pursuant to any judicial decree or decision, such provision shall be deemed to apply only to the maximum extent permitted by law, and the remainder of these Terms and Conditions shall remain valid and enforceable according to its terms.</pre>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-primary" data-dismiss="modal">Dismiss</button>
										</div>
									</div>
								</div>
							</div>

							<div id="privacyPolicy" class="modal fade" tabindex="-1">
								<div class="modal-dialog modal-lg">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
											<h4 class="modal-title">Privacy Policy</h4>
										</div>
										<div class="modal-body">
									
											<h4>Introduction</h4>
											<pre>This Privacy Policy governs the manner in which Skedluxe collects, uses, maintains and discloses information collected from users (each, a "User") of the Skedluxe website ("Skedluxe.com"). This privacy policy applies to the Site and all products and services offered by Skedluxe.</pre>
											<br>
											<h4>Personal identification information</h4>
											<pre>We may collect personal identification information from users in a variety of ways, including, but not limited to, when users visit our site, register on the site, and in connection with other activities, services, features or resources we make available on our Site. Users may be asked for, as appropriate, name, email address, mailing address, phone number. Users may, however, visit our Site anonymously. We will collect personal identification information from users only if they voluntarily submit such information to us. Users can always refuse to supply personally identification information, except that it may prevent them from engaging in certain Site related activities.</pre>
											<br>
											<h4>Non-personal identification information</h4>
											<pre>We may collect non-personal identification information about users whenever they interact with our Site. Non-personal identification information may include the browser name, the type of computer and technical information about users means of connection to our Site, such as the operating system and the Internet service provider’s utilized and other similar information.</pre>
											<br>
											<h4>Web browser cookies</h4>
											<pre>Our Site may use "cookies" to enhance user experience. User's web browser places cookies on their hard drive for record-keeping purposes and sometimes to track information about them. User may choose to set their web browser to refuse cookies, or to alert you when cookies are being sent. If they do so, note that some parts of the Site may not function properly.</pre>
											<br>
											<h4>How we use collected information</h4>
											<pre>Skedluxe may collect and use users personal information for the following purposes:
											<br>- To improve our Site We may use feedback you provide to improve our products and services.<br>- To send periodic emails.  We may use the email address to send user information and updates pertaining to their order. It may also be used to respond to their inquiries, questions, and/or other requests.</pre>
											<br>
											<h4>How we protect your information</h4>
											<pre>We adopt appropriate data collection, storage and processing practices and security measures to protect against unauthorized access, alteration, disclosure or destruction of your personal information, username, password, transaction information and data stored on our Site.</pre>
											<br>
											<h4>Sharing your personal information</h4>
											<pre>We do not sell, trade, or rent users personal identification information to others. We may share generic aggregated demographic information not linked to any personal identification information regarding visitors and users with our business partners, trusted affiliates and advertisers for the purposes outlined above. We may use third party service providers to help us operate our business and the Site or administer activities on our behalf, such as sending out newsletters or surveys. We may share your information with these third parties for those limited purposes provided that you have given us your permission.</pre>
											<br>
											<h4>Third party websites</h4>
											<pre>Users may find advertising or other content on our Site that link to the sites and services of our partners, suppliers, advertisers, sponsors, licenser and other third parties. We do not control the content or links that appear on these sites and are not responsible for the practices employed by websites linked to or from our Site. In addition, these sites or services, including their content and links, may be constantly changing. These sites and services may have their own privacy policies and customer service policies. Browsing and interaction on any other website, including websites which have a link to our Site, is subject to that website's own terms and policies.</pre>
											<br>
											<h4>Advertising</h4>
											<pre>Ads appearing on our site may be delivered to users by advertising partners, who may set cookies. These cookies allow the ad server to recognize your computer each time they send you an online advertisement to compile non personal identification information about you or others who use your computer. This information allows ad networks to, among other things, deliver targeted advertisements that they believe will be of most interest to you. This privacy policy does not cover the use of cookies by any advertisers.</pre>
											<br>
											<h4>Google AdSense</h4>
											<pre>Some of the ads may be served by Google. Google's use of the DART cookie enables it to serve ads to users based on their visit to our Site and other sites on the Internet. DART uses "non personally identifiable information" and does NOT track personal information about you, such as your name, email address, physical address, etc. You may opt out of the use of the DART cookie by visiting the Google ad and content network privacy policy at http://www.google.com/privacy_ads.html</pre>
											<br>
											<h4>Changes to this privacy policy</h4>
											<pre>Skedluxe has the discretion to update this privacy policy at any time. When we do, we will revise the updated date at the bottom of this page. We encourage users to frequently check this page for any changes to stay informed about how we are helping to protect the personal information we collect. You acknowledge and agree that it is your responsibility to review this privacy policy periodically and become aware of modifications.</pre>
											<br>
											<h4>Your acceptance of these terms</h4>
											<pre>By using this Site, you signify your acceptance of this policy. If you do not agree to this policy, please do not use our Site. Your continued use of the Site following the posting of changes to this policy will be deemed your acceptance of those changes.</pre>
											<br>
											<h4>Contacting us</h4>
											<pre>If you have any questions about this Privacy Policy, the practices of this site, or your dealings with this site, please contact us at:  Skedluxe.com</pre>

										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-primary" data-dismiss="modal">Dismiss</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>