
<div ng-controller="skedluxeApp_student_dashboard_ctrl">
	<div class="navbar skedluxe-navbar-custom navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand"><b>Skedluxe</b> Directory</a>
			</div>
			
			<div class="navbar-collapse collapse navbar-inverse-collapse">
				<ul class="nav navbar-nav navbar-right">
					<li><a ng-click="logout_func_trigger();"><i class="material-icons">clear</i></a></li>
					<li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="container-fluid skedluxe-general-container">
		<div class="row">
			<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
				<div class="panel panel-default skedluxe-profile-mainPanel">
					<div class="panel-body text-center">
						<center><img src="Back-End/img/Edited.png" class="thumbnail img-responsive skedluxe-profile-picture"></center>
						<h3><b>Username Here</b></h3>
						<a href="javascript:void(0)" class="btn btn-raised btn-success">Message</a>

						<hr class="skedluxe-profile-hrDivider">
						<a href="#/student-dashboard" class="btn btn-default btn-lg btn-block skedluxe-profile-btnProfile"><i class="material-icons">assignment_ind</i>Account Settings</a>
						<a href="#/student-dashboard" class="btn btn-default btn-lg btn-block skedluxe-profile-btnProfile"><i class="material-icons">build</i>Upgrade Account</a>
						<a href="javascript:void(0)" class="btn btn-default btn-lg btn-block skedluxe-profile-btnProfile"><i class="material-icons">history</i>Track Record</a>
					</div>
				</div>
			</div>

			

			<div class="col-lg-9 col-md-8 col-sm-8 col-xs-12">
				<div class="alert alert-info" ng-if="!student_dashboard_var_paid">
					<h4>Howdy!</h4>
					You have to process your one time pay to fully avail your student features. Click <u><a href="/payment">here</a></u> and pay now!
				</div>

				<uib-tabset active="active" ng-show="student_dashboard_var_paid">
					<uib-tab index="0" heading="title 1">
						<uib-tab-heading>
							<i class="glyphicon glyphicon-home"></i> Overview
						</uib-tab-heading>
						
						<br>

						<div class="panel panel-default skedluxe-profile-mainPanel">
							<div class="panel-body">
								<div class="col-sm-12">
					                <div class="col-sm-9 col-xs-12">
										<h1>John Doe</h1>
										<p><small><b>Filter Tags:</b></small><br>
											<span class="label label-success skedluxe-profile-tags">efw2g</span>&nbsp;
											<span class="label label-success skedluxe-profile-tags">dfbrer</span>&nbsp;
											<span class="label label-success skedluxe-profile-tags">2345346</span>&nbsp;
											<span class="label label-success skedluxe-profile-tags">sdft34</span>&nbsp;
											<span class="label label-success skedluxe-profile-tags">6o67u</span>&nbsp;
											<span class="label label-success skedluxe-profile-tags">232f</span>&nbsp;
										</p>
										<hr>
										<div class="col-sm-6 col-xs-12" style="padding:0px;">
											<b>Contact #: </b> 09345235234 <br>
											<b>Email: </b> temp@gmail.com <br>
										</div>

										<div class="col-sm-6 col-xs-12" style="padding:0px;">
											<b>License #: </b> NA <br>
											<b>Account Type: </b> Free User
										</div>									
					                </div>             
					                <div class="col-sm-3 col-xs-12 text-center">
					                	<h5>Account Rating</h5>
										<span class="badge skedluxe-profile-badge">90</span>
										<a href="javascript:void(0)" class="btn btn-success btn-sm btn-block btn-raised">Verify</a>
					                </div>
					            </div>
							</div>
						</div>

						<div class="panel panel-default skedluxe-profile-mainPanel">
							<div class="panel-body">
								<div class="col-xs-12 text-center">
									<div class="col-md-3 col-sm-6 col-xs-6 skedluxe-profile-numberBudgers">
										<h1>249</h1>
										<p><small class="text-muted">Student Rating</small></p>
										<a href="javascript:void(0)" class="btn btn-primary btn-sm btn-raised"><span class="glyphicon glyphicon-star"></span>&nbsp;&nbsp;View</a>
									</div>
									<div class="col-md-3 col-sm-6 col-xs-6 skedluxe-profile-numberBudgers">
										<h1>80</h1>
										<p><small class="text-muted">Driving Schedules</small></p>
										<a href="javascript:void(0)" class="btn btn-primary btn-sm btn-raised"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;Manage</a>
									</div>
									<div class="col-md-3 col-sm-6 col-xs-6 skedluxe-profile-numberBudgers">
										<h1>43</h1>
										<p><small class="text-muted">Classes</small></p>
										<a href="javascript:void(0)" class="btn btn-success btn-sm btn-raised"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;Manage</a>
									</div>
									<div class="col-md-3 col-sm-6 col-xs-6 skedluxe-profile-numberBudgers">
										<h1>43</h1>
										<p><small class="text-muted">Activity History</small></p>
										<a href="javascript:void(0)" class="btn btn-default btn-sm btn-raised"><span class="glyphicon glyphicon-list"></span>&nbsp;&nbsp;View</a>
									</div>
								</div>
							</div>
						</div>
					</uib-tab>
					<uib-tab index="1" heading="3 title">
						<uib-tab-heading>
							<i class="glyphicon glyphicon-search"></i> Find
						</uib-tab-heading>
						tab3
					</uib-tab>
					<uib-tab index="2" heading="3 title">
						<uib-tab-heading>
							<i class="glyphicon glyphicon-user"></i> Configure
						</uib-tab-heading>

						<br>

						<div ng-controller="skedluxeApp_generic_config_ctrl">
							<form ng-show="config_dashboard_var_showform" ng-submit="config_dashboard_func_getUpdated()">
								<div class="panel panel-default skedluxe-profile-mainPanel">
									<div class="panel-body">
										<ul class="breadcrumb skedluxe-hidden-panels" data-toggle="collapse" data-target="#general-info" aria-expanded="false"><li class="active"><b>General Info</b></li></ul>
										<div class="collapse" id="general-info">
											<div class="col-sm-4">
												<div class="form-group label-floating">
													<label class="control-label">First Name</label>
													<input class="form-control" type="text" ng-model-options="{ debounce: 1000 }" ng-model="config_dashboard_var_raw['first-name']" pattern="[a-z A-Z]{2,}">
												</div>
											</div>

											<div class="col-sm-4">
												<div class="form-group label-floating">
													<label class="control-label">Middle Name</label>
													<input class="form-control" type="text" ng-model-options="{ debounce: 1000 }" ng-model="config_dashboard_var_raw['middle-name']" pattern="[a-z A-Z]{2,}">
												</div>
											</div>

											<div class="col-sm-4">
												<div class="form-group label-floating">
													<label class="control-label">Last Name</label>
													<input class="form-control" type="text" ng-model-options="{ debounce: 1000 }" ng-model="config_dashboard_var_raw['last-name']" pattern="[a-z A-Z]{2,}">
												</div>
											</div>

											<div class="col-sm-2">
												<div class="form-group">
													<select class="form-control" ng-model-options="{ debounce: 1000 }" ng-model="config_dashboard_var_raw['status']">
														<option>Single</option>
														<option>Married</option>
														<option>Widower</option>
														<option>Widowed</option>
													</select>
												</div>
											</div>

											<div class="col-sm-2">
												<div class="form-group">
													<select class="form-control" ng-model-options="{ debounce: 1000 }" ng-model="config_dashboard_var_raw['gender']">
														<option>Male</option>
														<option>Female</option>
													</select>
												</div>
											</div>

											<div class="col-sm-4">
												<div class="form-group label-floating">
													<label class="control-label">Birth Date (mm/dd/yyyy)</label>
													<input class="form-control" type="text" ng-model-options="{ debounce: 1000 }" ng-model="config_dashboard_var_raw['bday']" pattern="[0-9/]{10,10}">
												</div>
											</div>

											<div class="col-sm-4">
												<div class="form-group label-floating">
													<label class="control-label">Age</label>
													<input class="form-control" type="text" ng-model-options="{ debounce: 1000 }" ng-model="config_dashboard_var_raw['age']" pattern="[0-9]{2,}">
												</div>
											</div>

											<div class="col-sm-12">
												<div class="form-group label-floating">
													<label class="control-label">Address</label>
													<input class="form-control" type="text" ng-model-options="{ debounce: 1000 }" ng-model="config_dashboard_var_raw['address']" minlength="2">
												</div>
											</div>

											<div class="col-sm-4">
												<div class="form-group label-floating">
													<label class="control-label">City</label>
													<input class="form-control" type="text" ng-model-options="{ debounce: 1000 }" ng-model="config_dashboard_var_raw['city']" minlength="2">
												</div>
											</div>

											<div class="col-sm-4">
												<div class="form-group label-floating">
													<label class="control-label">State/Province</label>
													<input class="form-control" type="text" ng-model-options="{ debounce: 1000 }" ng-model="config_dashboard_var_raw['state/province']" minlength="2">
												</div>
											</div>

											<div class="col-sm-4">
												<div class="form-group label-floating">
													<label class="control-label">Zip/postal</label>
													<input class="form-control" type="text" ng-model-options="{ debounce: 1000 }" ng-model="config_dashboard_var_raw['zip/postal']" minlength="2">
												</div>
											</div>

											<br>&nbsp;</br>
										</div>
									</div>
								</div>

								<div class="panel panel-default skedluxe-profile-mainPanel">
									<div class="panel-body">
										<ul class="breadcrumb skedluxe-hidden-panels" data-toggle="collapse" data-target="#emergency-info" aria-expanded="false"><li class="active"><b>Contact Info</b></li></ul>
										<div class="collapse" id="emergency-info">
											<div class="col-sm-6">
												<div class="form-group label-floating">
													<label class="control-label">Household Contact #</label>
													<input class="form-control" type="text" ng-model-options="{ debounce: 1000 }" ng-model="config_dashboard_var_raw['home-contact-#']" pattern="[0-9]{2,15}">
												</div>
											</div>

											<div class="col-sm-6">
												<div class="form-group label-floating">
													<label class="control-label">Personal Contact Number</label>
													<input class="form-control" type="text" ng-model-options="{ debounce: 1000 }" ng-model="config_dashboard_var_raw['mobile-#']" pattern="[0-9]{2,15}">
												</div>
											</div>

											<div class="col-sm-6">
												<div class="form-group label-floating">
													<label class="control-label">Guardian Name</label>
													<input class="form-control" type="text" ng-model-options="{ debounce: 1000 }" ng-model="config_dashboard_var_raw['guardian-name']" minlength="2">
												</div>
											</div>

											<div class="col-sm-6">
												<div class="form-group label-floating">
													<label class="control-label">Guardian Contact #</label>
													<input class="form-control" type="text" ng-model-options="{ debounce: 1000 }" ng-model="config_dashboard_var_raw['guardian-contact-#']" pattern="[0-9]{2,15}">
												</div>
											</div>

											<br>&nbsp;</br>
										</div>
									</div>
								</div>

								<div class="panel panel-default skedluxe-profile-mainPanel">
									<div class="panel-body">
										<ul class="breadcrumb skedluxe-hidden-panels" data-toggle="collapse" data-target="#others-info" aria-expanded="false"><li class="active"><b>Other Details</b></li></ul>
										<div class="collapse" id="others-info">
											<div class="col-sm-12">
												<div class="form-group label-floating">
													<label class="control-label">High School</label>
													<input class="form-control" type="text" ng-model-options="{ debounce: 1000 }" ng-model="config_dashboard_var_raw['hschool']" minlength="2">
												</div>
											</div>

											<div class="col-sm-6">
												<div class="form-group label-floating">
													<label class="control-label">School Address</label>
													<input class="form-control" type="text" ng-model-options="{ debounce: 1000 }" ng-model="config_dashboard_var_raw['school-addr']" minlength="2">
												</div>
											</div>

											<div class="col-sm-6">
												<div class="form-group label-floating">
													<label class="control-label">City</label>
													<input class="form-control" type="text" ng-model-options="{ debounce: 1000 }" ng-model="config_dashboard_var_raw['school-city']" minlength="2">
												</div>
											</div>

											<div class="col-sm-6">
												<div class="form-group label-floating">
													<label class="control-label">Permit Issued</label>
													<input class="form-control" type="text" ng-model-options="{ debounce: 1000 }" ng-model="config_dashboard_var_raw['permit-issued']" minlength="2">
												</div>
											</div>

											<div class="col-sm-6">
												<div class="form-group label-floating">
													<label class="control-label">Permit Expiration Date</label>
													<input class="form-control" type="text" ng-model-options="{ debounce: 1000 }" ng-model="config_dashboard_var_raw['permit-exp']">
												</div>
											</div>

											<div class="col-lg-12">
												<div class="form-group checkbox">
													<label>
														<input type="checkbox" ng-model-options="{ debounce: 1000 }" ng-model="config_dashboard_var_raw['wear-glasses']">&nbsp;&nbsp;<small>Do you wear Glasses?</small>
													</label>
												</div>
											</div>

											<br>&nbsp;</br>
										</div>
									</div>
								</div>

								<div class="pull-right">
									<button class="btn btn-raised btn-danger">Cancel</button>
									<button type="submit" class="btn btn-raised btn-success">Update</button>
								</div>
							</form>

							<div class="col-sm-12" ng-show="!config_dashboard_var_showform">
								<p>You currently don't have a configuration setting. Start customizing your configuration settings now.</p>
								<button class="btn btn-raised btn-primary" ng-click="config_dashboard_func_createConfig()">Create</button>
							</div>
							
							<br>&nbsp;</br>
						</div>
					</uib-tab>
				</uib-tabset>

				<br>&nbsp;</br>
			</div>
		</div>
	</div>
</div>